{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "vueIndentScriptAndStyle": true,
  "importOrder": [
    "^vue",
    "^primevue",
    "^primeicons",
    "^@/assets",
    "^@/components",
    "^@/composables",
    "^@/utils",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindStylesheet": "./src/style.css",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
