.bullet-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 9999;
}

.bullet {
  --position: 0px;
  --direction: 1;

  --bulletBackgroundPositionX: 0px;
  --bulletBackgroundPositionY: -256px;

  /* Sprite Initialization */
  width: 32px;
  height: 32px;
  background-image: url('../images/megaman-animations.png');
  background-position: var(--bulletBackgroundPositionX) var(--bulletBackgroundPositionY);
  background-repeat: no-repeat;

  z-index: 1000 !important;

  /* Position, Movement, and Scale */
  position: absolute !important;
  transform: translateX(var(--position)) scale(calc(var(--direction) * 4), 4);
  transform-origin: center;

  /* Collision Box Alignment */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet.low-charge {
  animation: lowChargeBullet 0.25s steps(1, end) infinite;
  animation-fill-mode: forwards;
}

@keyframes lowChargeBullet {
  0% {
    --bulletBackgroundPositionX: -32px;
  }

  50% {
    --bulletBackgroundPositionX: -64px;
  }
}

.bullet.max-charge {
  animation: maxChargeBullet 0.25s steps(1, end) infinite;
  animation-fill-mode: forwards;
}

@keyframes maxChargeBullet {
  0% {
    --bulletBackgroundPositionX: -96px;
  }

  25% {
    --bulletBackgroundPositionX: -128px;
  }

  50% {
    --bulletBackgroundPositionX: -160px;
  }

  75% {
    --bulletBackgroundPositionX: -192px;
  }
}

/* Collision Box */

.bullet:not(.low-charge):not(.max-charge) > .bullet-collision {
  width: 25%;
  height: 20%;
}

.bullet.low-charge:not(.max-charge) > .bullet-collision {
  width: 50%;
  height: 50%;
}

.bullet.max-charge:not(.low-charge) > .bullet-collision {
  width: 90%;
  height: 90%;
}
