.particle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 9999;
}

.death-particle {
  --positionX: 0px;
  --positionY: 0px;

  --deathParticleBackgroundPositionX: -96px;
  --deathParticleBackgroundPositionY: -224px;

  /* Sprite Initialization */
  width: 32px;
  height: 32px;
  background-image: url('../images/megaman-animations.png');
  background-position: --deathParticleBackgroundPositionX --deathParticleBackgroundPositionY;
  background-repeat: no-repeat;

  /* Position, Movement, and Scale */
  position: absolute;
  transform: translate(var(--positionX), var(--positionY)) scale(4);
  transform-origin: center;
}

.death-particle.spread {
  animation: spread 0.25s steps(1, end) infinite;
  animation-fill-mode: forwards;
}

@keyframes spread {
  0% {
    --deathParticleBackgroundPositionX: -96px;
  }

  20% {
    --deathParticleBackgroundPositionX: -128px;
  }

  40% {
    --deathParticleBackgroundPositionX: -160px;
  }

  60% {
    --deathParticleBackgroundPositionX: -192px;
  }

  80% {
    --deathParticleBackgroundPositionX: -224px;
  }
}
