@import url('bullet.css');
@import url('death-particle.css');
@import url('mega-man.css');

.ground {
  user-select: none;
}

#game-container {
  position: absolute;
  top: 0;
  left: 0;
  contain: layout;
}
